<table class="table table-sm">
  <thead>
    <tr>
      <th><%= sort_link(q, :full_name) %></th>
      <th><%= sort_link(q, :group_name, "Congregation") %></th>
      <th>Mobile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if volunteers.present? %>
      <% volunteers.each do |v| %>
        <tr>
          <td><%= link_to v.full_name, volunteer_path(v) %> <%= "(#{v.count})" %></td>
          <td><%= link_to v.group&.name, group_path(v.group) if v.group.present? %></td>
          <td><%= v.mobile_number %></td>
          <td>
            <%= link_to 'Show', volunteer_path(v), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Edit', edit_volunteer_path(v), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Destroy', volunteer_path(v), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: "Are you sure??" } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">
          There are no volunteers to show. <%= link_to 'Add Volunteer', new_volunteer_path %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>