<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= @volunteer.full_name %></h2>
      <% for attribute in @volunteer.attributes.keys %>
        <p>
          <strong><%= attribute.humanize %>:</strong> 
          <%= @volunteer.attributes[attribute].to_s %>
        </p>
      <% end %>
      <%= link_to 'Volunteers List', volunteers_path, class: 'btn btn-link' %>
      <%= link_to 'Edit Volunteer', edit_volunteer_path, class: 'btn btn-link' %>
      <%= link_to 'New Volunteer', new_volunteer_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>