<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= @event.volunteer.full_name %></h2>
      <% for attribute in @event.attributes.keys %>
        <p>
          <strong><%= attribute.humanize %>:</strong> 
          <%= @event.attributes[attribute].to_s %>
        </p>
      <% end %>
      <%= link_to 'Event List', events_path, class: 'btn btn-link' %>
      <%= link_to 'Edit Event', edit_event_path, class: 'btn btn-link' %>
      <%= link_to 'New Event', new_event_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>