<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>
        <%= @event.volunteer.full_name %>
        <span class="badge badge-<%= @event.status %>"><%= @event.status.humanize %></span>
      </h2>

      <div class="form-group">
        <% if @event.unconfirmed? %>
          <%= button_to "click to confirm", [ @event, :status ], params: { status: :confirmed }, class: "btn btn-sm btn-outline-success"  %>
        <% else %>
          <%= button_to "click to unconfirm", [ @event, :status ], params: { status: :unconfirmed }, class: "btn btn-sm btn-outline-warning"  %>
        <% end %>
      </div>

      <% for attribute in @event.attributes.keys %>
        <p>
          <strong><%= attribute.humanize %>:</strong> 
          <%= @event.attributes[attribute].to_s %>
        </p>
      <% end %>
      <%= link_to 'Destroy', event_path, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure???' } %>
      <%= link_to 'Event List', events_list_path, class: 'btn btn-link' %>
      <%= link_to 'Edit Event', edit_event_path, class: 'btn btn-link' %>
      <%= link_to 'New Event', new_event_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>