<%= form_for shift do |f| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h4>
      <ul>
        <% shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :day %>
    <%= f.select :day, Shift.days.keys, { prompt: true }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :starts_at %>
    <div class="form-inline">
      <%= f.time_select :starts_at, { prompt: true, ampm: true }, { class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ends_at %>
    <div class="form-inline">
      <%= f.time_select :ends_at, { prompt: true, ampm: true }, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>